body{
    background-color: rgb(30, 165, 202);
    flex-direction: column;
}
main{
    flex: 1;
}
#name {
    font-size: 70px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    color: white;
    position: relative;
}
#role {
    font-weight: bold;
    font-size: 20px;
    width: 500px;
    height: 30px;
    position: absolute;
    top: 230px;
    left: 280px;

}

#header {
    background-color: #004d99;
    padding: 2px 5px;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.8);
   


}
#header ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
#header ul li{
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}
#content{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
#about{
    background-color: burlywood;
    width: 50%;
    height:auto;
    float: left;
    padding: 40px;
    box-sizing: border-box;
    margin-bottom: 290px;
}
#skill{
    background-color: burlywood;
    width: 50%;
    height:auto;
    float: right;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 290px;

}
#footer {
    background-color:black;
    padding: 2px 5px;
    box-shadow: 0 0 10px white;
    height: 60px;
    color: white;
    text-align: center;
    
}
#footer ul{
    list-style-type: none;
    display: flex;

}
